.magic-types-container{
	height: 100%;
	
	h2 {
		text-align: center;
		text-shadow: -1px -1px 1px black, 0px 0px 2px black, 0px 0px 4px black, 0px 0px 6px black, 0px 0px 8px black, 0px 0px 40px black;
		line-height: 60px;
	}

	.bg-gradient{
		background-image: radial-gradient(rgba(0, 18, 27, 0.8) 30%, rgba(0,0,0,0) 60%);
		margin: auto;
		width: 400px;
		height: 60px;	
	}
}